.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading__title {
  margin: 1rem 0 0;
  font-weight: 400;
  font-size: 5rem;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #ec315a;
}

.loading__subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 23.46px;
  letter-spacing: 0.43em;
  text-align: center;
  color: #340d6d;
}
